@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  padding-top: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 2rem;
}

.globalNav {
  display: flex;
  align-items: center;
}

.sectionLinks {
  display: flex;
  margin-left: auto;
}

.sectionLink {
  margin: 2rem;
  font-size: 25px;
  color: #707070;
}

.sectionLinkLast {
  margin-left: 2rem;
  margin-right: 8px;
  font-size: 25px;
  color: #707070;
}

#landing {
  height: 100vh;
}

.logo {
  font-size: 65px;
  color: #707070;
}

.landingContainer {
  width: 56.6%;
  height: 600px;
  margin-top: 100px;
  margin-left: 22.2%;
  margin-right: 22%.2;
}

.name {
  text-align: left;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: 240px;
  z-index: 2;
}

.description {
  text-align: left;
  font-weight: 400;
  font-size: 68.4px;
  margin: 0;
  position: absolute;
  top: 280px;
  z-index: 2;

  max-width: 650px;
}

.portrait {
  width: 650px;
  float: right;
}

#about {
  width: 100%;
  min-height: 70vh;
  background-color: rgba(255, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  width: 56.6%;
}

.hi {
  color: white;
  font-size: 65px;
}

.aboutText {
  color: white;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
}

.aboutTextFirst {
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

#projects {
  margin-top: 140px;
}

.projectsHeading {
  font-weight: 400;
  font-size: 68.4px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 240px;
}

.projectContainer {
  width: 60%;
  margin-left: 20%;
  display: flex;
  margin-bottom: 140px;

  /* scrolltrigger */
  /* margin-top: 100px */
  opacity: 0;
}

.projectImg {
  width: 344px;
  height: 344px;
}

.projectText {
  width: 60%;
  margin-left: 10%;
}

.projectText h2 {
  margin-top: 0;
  font-size: 45.6px;
  font-weight: 400;
}

.projectText p {
  font-size: 18px;
}

.projectText ul {
  display: flex;
  padding: 0;
}

.projectText a {
  color: black;
  font-size: 22px;
  margin-right: 2rem;
  font-weight: 400;
}

.projectTextRight {
  width: 60%;
  margin-right: 10%;
}

.projectTextRight h2 {
  margin-top: 0;
  font-size: 45.6px;
  font-weight: 400;
}

.projectTextRight p {
  font-size: 18px;
}

.projectTextRight ul {
  display: flex;
  padding: 0;
}

.projectTextRight a {
  color: black;
  font-size: 22px;
  margin-right: 2rem;
  font-weight: 400;
}

#contact {
  width: 100%;
  min-height: 60vh;
  background-color: rgba(255, 0, 0, 0.65);
  display: flex;
  justify-content: center;
}

.contactText {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 140px;
}

.contactText span {
  font-weight: 500;
  color: #9e0000;
}

.contactContainer {
  width: 32%;
}

.soMe {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.ig,
.in,
.gh {
  width: 55px;
}

.fb {
  width: 50px;
  height: 55px;
}
