@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  padding-top: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 2rem;
}

.globalNav {
  display: flex;
  align-items: center;
}

.sectionLinks {
  display: flex;
  margin-left: auto;
}

.sectionLink {
  margin: 2rem;
  font-size: 25px;
  color: #707070;
  position: relative;
}

/* link underlines */
.sectionLink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: rgba(255, 0, 0, 0.65);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.sectionLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sectionLinkLast {
  margin-left: 2rem;
  margin-right: 8px;
  font-size: 25px;
  color: #707070;
  position: relative;
}

.sectionLinkLast:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: rgba(255, 0, 0, 0.65);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.sectionLinkLast:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#landing {
  height: 100vh;
}

.logo {
  font-size: 65px;
  color: #707070;
}

.landingContainer {
  width: 56.6%;
  height: 600px;
  margin-top: 100px;
  margin-left: 22.2%;
  margin-right: 22.2%;
}

.name {
  text-align: left;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: 240px;
  z-index: 2;
}

.description {
  text-align: left;
  font-weight: 400;
  font-size: 68.4px;
  margin: 0;
  position: absolute;
  top: 280px;
  z-index: 2;

  max-width: 650px;
}

.portrait {
  width: 650px;
  float: right;
}

#about {
  width: 100%;
  /*min-height: 70vh;*/
  background-color: rgba(255, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  width: 56.6%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hi {
  color: white;
  font-size: 65px;
  margin-bottom: -10px;
  display: inline-block;
}

.aboutText {
  color: white;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
  line-height: 1.5;
}

.aboutTextFirst {
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

#projects {
  margin-top: 140px;
}

.projectsHeading {
  font-weight: 400;
  font-size: 68.4px;
  text-align: center;
  margin-top: 0;

  /* scrolltrigger +100px*/
  margin-bottom: 240px;
}

.projectContainer {
  width: 60%;
  margin-left: 20%;
  display: flex;
  margin-bottom: 140px;
  transition: scale 0.2s;

  /* scrolltrigger */
  opacity: 0;
}

.projectContainer:hover {
  scale: 0.99;
  transition: all 0.2s ease-in-out;
}

.projectContainerLast {
  margin-bottom: 140px;
}

.projectImg {
  width: 344px;
  height: 344px;
}

.projectText {
  width: 60%;
  margin-left: 10%;
}

.projectText h2 {
  margin-top: 0;
  font-size: 45.6px;
  font-weight: 400;
}

.projectText p {
  font-size: 18px;
}

.projectText ul {
  display: flex;
  padding: 0;
}

.projectText a {
  color: black;
  font-size: 22px;
  margin-right: 2rem;
  font-weight: 400;
  position: relative;
}

.projectText a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: rgba(255, 0, 0, 0.65);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.projectText a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.projectTextRight {
  width: 60%;
  margin-right: 10%;
}

.projectTextRight h2 {
  margin-top: 0;
  font-size: 45.6px;
  font-weight: 400;
}

.projectTextRight p {
  font-size: 18px;
}

.projectTextRight ul {
  display: flex;
  padding: 0;
}

.projectTextRight a {
  color: black;
  font-size: 22px;
  margin-right: 2rem;
  font-weight: 400;
  position: relative;
}

.projectTextRight a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: rgba(255, 0, 0, 0.65);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.projectTextRight a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#contact {
  width: 100%;
  /*height: 45vh;*/
  background-color: rgba(255, 0, 0, 0.65);
  display: flex;
  justify-content: center;
}

.contactText {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 80px;
  line-height: 1.5;
}

.contactText a {
  font-weight: 500;
  color: #9e0000;
}

.contactContainer {
  width: 32%;
}

.soMe {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: auto;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding-bottom: 50px;
}

.ig,
.in,
.gh {
  margin-bottom: auto;
  width: 50px;
  transition: scale 0.2s;
}

.fb {
  width: 45px;
  height: 50px;
  transition: scale 0.2s;
}

.ig:hover,
.in:hover,
.gh:hover {
  scale: 0.95;
  transition: all 0.2s ease-in-out;
}

.fb:hover {
  scale: 0.95;
  transition: all 0.2s ease-in-out;
}

/* media queries */

@media only screen and (max-width: 1500px) {
  .landingContainer {
    width: 66%;
    margin-left: 17%;
  }
  .name {
    top: 200px;
  }
  .description {
    top: 240px;
  }
  #contact {
    /*height: 50vh;*/
  }
}

@media only screen and (max-width: 1300px) {
  .projectContainer {
    width: 70%;
    margin-left: 15%;
  }
  .projectImg {
    width: 300px;
    height: 300px;
  }
  .aboutContainer {
    width: 60%;
  }
  .hi {
    font-size: 62px;
  }
  .aboutText {
    font-size: 22px;
  }
  .aboutTextFirst {
    font-size: 22px;
  }
  #contact {
    /*height: 45vh;*/
  }
  .contactContainer {
    width: 40%;
  }
  .contactText {
    font-size: 22px;
  }
  .contactText span {
    font-size: 22px;
  }
  .soMe {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1150px) {
  .landingContainer {
    width: 76%;
    margin-left: 12%;
  }
  .description {
    font-size: 62px;
  }
  .aboutContainer {
    width: 70%;
  }
  .hi {
    font-size: 60px;
  }
  .aboutText {
    font-size: 20px;
  }
  .aboutTextFirst {
    font-size: 20px;
  }
  .projectContainer {
    width: 76%;
    margin-left: 12%;
  }
  .projectsHeading {
    font-size: 62px;
  }
  .projectImg {
    width: 260px;
    height: 260px;
  }
  .projectText h2 {
    font-size: 36px;
  }
  .projectText p {
    font-size: 16px;
  }
  .projectText a {
    font-size: 20px;
  }
  .projectTextRight h2 {
    font-size: 36px;
  }
  .projectTextRight p {
    font-size: 16px;
  }
  .projectTextRight a {
    font-size: 20px;
  }
  #contact {
    /*height: 45vh;*/
  }
  .contactText {
    font-size: 20px;
  }
  .contactText span {
    font-size: 20px;
  }
  .soMe {
    width: auto;
  }
  .ig,
  .in,
  .gh {
    width: 45px;
  }
  .fb {
    width: 40px;
    height: 45px;
  }
}

@media only screen and (max-width: 1000px) {
  .landingContainer {
    width: 74%;
    margin-left: 13%;
    margin-top: 150px;
  }
  .name {
    font-size: 26px;
    top: 260px;
  }
  .description {
    font-size: 50px;
    top: 300px;
  }
  .portrait {
    width: 550px;
  }
  .projectsHeading {
    font-size: 50px;
  }
}

@media only screen and (max-width: 850px) {
  header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .logo {
    font-size: 50px;
  }
  .sectionLink {
    font-size: 20px;
    margin: 1.2rem;
  }
  .sectionLinkLast {
    font-size: 20px;
    margin-left: 1.2rem;
  }
  .landingContainer {
    margin-top: 240px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .name {
    top: 190px;
  }
  .description {
    top: 230px;
    max-width: 70%;
    font-size: 45px;
  }
  .portrait {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .hi {
    font-size: 54px;
  }
  .aboutText {
    font-size: 18px;
  }
  .aboutTextFirst {
    font-size: 18px;
  }
  #projects {
    margin-top: 100px;
  }
  .projectsHeading {
    font-size: 45px;
  }
  .projectContainer {
    margin-bottom: 100px;
    width: 70%;
    margin-left: 15%;
  }
  .projectContainerLast {
    margin-bottom: 60px;
  }

  .projectImg {
    width: 220px;
    height: 220px;
  }
  .projectText h2 {
    font-size: 32px;
  }

  #contact {
    /*height: 40vh;*/
  }
  .contactContainer {
    width: 60%;
  }
  .contactText {
    font-size: 18px;
  }
  .contactText span {
    font-size: 20px;
  }
  .soMe {
    width: auto;
    margin-top: 60px;
  }
  .ig,
  .in,
  .gh {
    width: 40px;
  }
  .fb {
    width: 35px;
    height: 40px;
  }
}

@media only screen and (max-width: 700px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .landingContainer {
    margin-top: 240px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .name {
    top: 190px;
  }
  .description {
    top: 230px;
    max-width: 80%;
    font-size: 45px;
  }
  .projectContainer {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 620px) {
  .landingContainer {
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .name {
    top: 210px;
    font-size: 26px;
  }
  .description {
    top: 250px;
    max-width: 80%;
    font-size: 40px;
  }
  .portrait {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .projectContainer {
    margin-bottom: 100px;
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
    align-items: center;
  }
  .projectImg {
    width: 80%;
    height: auto;
    order: -1;
  }
  .projectsHeading {
    margin-bottom: 200px;
  }
  .projectText {
    width: 80%;
    margin: 0;
    margin-top: 30px;
  }
  .projectText p {
    text-align: justify;
    line-height: 1.6;
    hyphens: auto;
  }
  .projectTextRight {
    width: 80%;
    margin: 0;
    margin-top: 30px;
  }
  .projectTextRight p {
    text-align: justify;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 550px) {
  header {
    padding-left: 10%;
    padding-right: 10%;
  }
  .globalNav {
    justify-content: center;
  }
  .logo {
    align-self: baseline;
  }
  .sectionLink {
    margin-right: 0;
    font-size: 20px;
  }
  .sectionLinkLast {
    margin-right: 0;
    font-size: 20px;
  }
  .sectionLinks {
    margin-left: auto;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
  }
  .landingContainer {
    margin-top: 270px;
  }
  .name {
    top: 240px;
    font-size: 24px;
  }
  .description {
    top: 280px;
    font-size: 45px;
  }
  #about {
    /*height: 80vh;*/
  }
  .hi {
    margin-bottom: -20px;
    display: inline-block;
  }
  .aboutTextFirst {
    hyphens: auto;
    line-height: 1.6;
  }
  .aboutText {
    hyphens: auto;
    line-height: 1.6;
  }

  #projects {
    margin-top: 50px;
  }

  .projectsHeading {
    font-size: 43px;
  }
  .projectText {
    width: 80%;
  }
  .projectContainerLast {
    margin-bottom: 20px;
  }
  .contactContainer {
    width: 80%;
  }
  .contactText {
    width: 100%;
    /*margin-left: 10%;*/
  }
  .ig,
  .in,
  .gh {
    width: 35px;
  }
  .fb {
    width: 30px;
    height: 35px;
  }
}
